* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #255EE9;
    padding: 10px 10px;
    color: white;
 }

 .link-header{
    margin-left: 30px
 }

.container-header {
    width: 70%;
    margin: 0 auto;
}

.center, .end {
    margin-top: 10px;
}

.row {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

 .col-20 {
    width: 20%;
}

.button{
    border-radius: 30px;
    padding: 6px 8px;
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
}

.button.white {
    background-color: white;
    color: black;
}

.button.white.big, .button.black, .button.violet {
    padding: 15px;
    font-size: 14px;
}

.button.black {
    background-color: #23272A;
}

.button.violet {
    background-color: #8EA1E1;
    margin-top: 20px;
    width: 20%;
    align-self: center;
    color: white
}

.nav-buttons {
    margin-top: 40px;
}

.start{
    text-align: start;
}

.end{
    text-align: end;
}

.col-nav {
    width: 60%;
    text-align: center;
}

.col-20, .col-nav{
    padding: 5px;
}

/* SECTION 1 */
.section-1{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    padding: 75px;
    color: white;
}

.container-pink {
    margin: 0 auto;
    width: 60%;
}

.col-full {
    text-align: center;
    line-height: 1.5;
}

/* SECTION 2 */
.section-2 {
    width: 100%;
    background-color: white;
    padding: 75px;
}

.container-60-40 {
    margin: 0 auto;
    width: 80%;
}

.col-40{
    width: 40%;
    padding: 20px;
}

.col-60{
    width: 60%;
    display: flex;
}

/* >SECTION 3 */
.section-3 {
    width: 100%;
    background-color: #E5E5E5;
    padding: 75px;
}

/* SECTION 4 */

/* SECTION 5 */
.section-5{
    width: 100%;
    background-color: #E5E5E5;
    padding: 75px;
}

.container-green {
    margin: 0 auto;
    width: 80%;
}

.col-green {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

/* FOOTER */

footer {
    background-color: #23272A;
}

.section-6 {
    width: 100%;
    background-color: #23272A;
    padding: 75px;
    color: white;
    line-height: 30px;
}

.container-5x {
    margin: 0 auto;
    width: 80%;
}

.col-2of6{
    width: 33%;
}

.col-1of6{
    width: calc(100% / 6);
    font-size: 14px;
    font-weight: 600;
}

.col-2of6, .col-1of6 {
    padding: 5px;

}

footer h4, footer h3 {
    color: #7289DA;
}

.container-footer {
    width: 72%;
    margin: 0 auto;
    padding: 15px 0;
    border-top: 1px solid #7289DA;
}

.row-footer{
    justify-content: space-between;
}

/* TESTO E IMMAGINI */

h2{
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h2, h3, h4 {
    font-weight: 800;
}

p {
    line-height: 1.5;
}

.head-text{
    margin: 35px 30px 20px;
}

.main-p {
    margin-top: 15px;
    font-weight: 500;
}

.flag {
    width: 25px;
    margin-right: 10px;
}

.lang {
    margin: 15px 0;
}

.wave-1 {
    width: 100%;
    opacity: 0.1;
    display: flex;
}

.wave-2 {
    width: 100%;
    transform: scaleY(-1);
    opacity: 0.1;
    display: flex;
}

.starred {
    background-image: url(../img/stars.svg);
    background-size: cover;
    margin: auto;
} /* ??? */

i {
    margin: 10px;
}

